[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
django = "==4.2.1"
requests = "*"
six = "==1.16.0"
paramiko = "==3.1.0"
channels = "==4.0.0"
daphne = "==4.0.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
